@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar Track */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  /* Scrollbar Thumb (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background-color: #afafaf; /* Set the background color of the thumb */
    border-radius: 4px; /* Set the border radius of the thumb */
  }
  
  /* Scrollbar Track for Firefox */
  /* Note: Firefox uses a different pseudo-element name */
  * {
    scrollbar-width: thin;
    scrollbar-color: #afafaf #fff; /* Set the thumb and track colors for Firefox */
  }
  